<!DOCTYPE html>
<html>
	<head>
		<title>Redirecting...</title>
		<link rel="canonical" href="https://join.slack.com/t/mayfly-live/shared_invite/zt-3w2xcd6us-UKdVBMNkY~vv2bhSrLRSSA" />
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="0; url=https://join.slack.com/t/mayfly-live/shared_invite/zt-3w2xcd6us-UKdVBMNkY~vv2bhSrLRSSA" />
	</head>
	<body>
		<p>Redirecting...</p>
	</body>
</html>
