<nav class="sidebar">
	<div class="nav-group">
		<div class="nav-group-label">Overview</div>
		<a href="/docs/getting-started.html" class="nav-link{% if navSection == 'getting-started' %} active{% endif %}">Getting Started</a>
	</div>
	{# <div class="nav-group">
		<div class="nav-group-label">Reference</div>
		<a href="/docs/configuration.html" class="nav-link{% if navSection == 'configuration' %} active{% endif %}">Configuration</a>
		<a href="/docs/ci-integration.html" class="nav-link{% if navSection == 'ci-integration' %} active{% endif %}">CI Integration</a>
	</div> #}
	<div class="nav-group">
		<div class="nav-group-label">Community</div>
		<a href="/join" class="nav-link ext" target="_blank" rel="noopener">Join Slack ↗</a>
	</div>
</nav>
